:root {
    --main-bg-color: rgb(6, 208, 1);
    --body-bg-color: rgb(2, 21, 38);
    --login-div-bg-color: rgb(24, 18, 43);
    --footer-div-bg-color: rgb(88, 86, 99);
    --text-color: rgb(255, 255, 255);
    --text-alert-color: rgb(255, 0, 0);
    --shadow-color: rgb(80, 0, 115);
  }

*{
    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    margin: 0%;
    padding: 0%;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body{
    background-color: var(--body-bg-color);
}
.container-home{
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    
}

.box-home{
    border-radius: 5px;
    background-color: var(--main-bg-color);
    border: 1px solid black;
    width: 25vw;
    height: 30vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.267)
    
}

.box-nav{
    background-color: var(--main-bg-color);
    height: 5vh;
    display: flex;
    align-items: center;
    color: aliceblue;
    border: none;
    
}

.nav-login{
    margin-left: 3px;
    font-size: 45px;
    filter: drop-shadow(1px 1px 5px aliceblue);
}

#icon-lock{
    font-size: 35px;
    margin: none;
    filter: drop-shadow(1px 1px 5px aliceblue);  
}


.footer-div{
    border-top: solid rgb(255, 255, 255);
    height: 20%;
    width: 89%;
    align-items: center;
    display: flex;
}

#footer-text-p{
    text-align: justify;
    max-width: 50%;
    display: inline;
    color: var(--footer-div-bg-color);
}

#footer-text-p2{
    text-align: justify;
    max-width: 50%;
    display: inline;
    margin-left: 2%;
    color: var(--footer-div-bg-color);
}
